In [2]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

# Path de los datos

In [9]:
pathDatos = Path('..') / 'Datos' / 'AMAI_NSE_AGEB'
print(pathDatos)

..\Datos\AMAI_NSE_AGEB

In [15]:
names=['estado',
       'nombreEstado',
       'municipio',
       'nombreMunicipio',
       'localidad',
       'nombreLocalidad',
       'ageb',
       'viviendasAB',
       'viviendasCMas',
       'viviendasC',
       'viviendasCMenos',
       'viviendasDMas',
       'viviendasD',
       'viviendasE',
       'nsePredominante',
       'totViviendas',
       'tamanioLocalidad'
      ]

In [16]:
df = pd.read_excel(Path(pathDatos / 'NSE_por_AGEB_AMAI.xlsx'), skiprows=2, names=names)

In [17]:
df.head()

,estado,nombreEstado,municipio,nombreMunicipio,localidad,nombreLocalidad,ageb,viviendasAB,viviendasCMas,viviendasC,viviendasCMenos,viviendasDMas,viviendasD,viviendasE,nsePredominante,totViviendas,tamanioLocalidad
0,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,006A,178,124,60,24,9,4,0,A/B,399,"500,000 a 999,999"
1,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,0106,183,375,247,128,62,32,N/D,C+,1028,"500,000 a 999,999"
2,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,0163,35,157,228,167,124,78,0,C,789,"500,000 a 999,999"
3,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,0182,345,187,63,46,13,6,0,A/B,660,"500,000 a 999,999"
4,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,0229,25,36,14,20,9,7,0,C+,111,"500,000 a 999,999"